/* ==UserStyle==
@name           Reddit Old Redesigned Dark
@version        2.0.4
@description    Dark theme for Reddit Old
@author         Jorengarenar
@homepageURL    https://github.com/Jorengarenar/RedditOldRedesignedDark
@namespace      joren.ga
==/UserStyle== */

@-moz-document domain("reddit.com") {

  /* COLOR DEFINITIONS {{{1 */

  :root {
    --gray-0: #121212;
    --gray-1: #232323;
    --gray-2: #343434;
    --gray-3: #454545;
    --red: #D3391A;
    --dark-red: #440202;
    --gold: #FB0;
    --gold-2: #cfa73a;
    --gold-tuned: #453705;
    --text-normal: hsla(0, 100%, 100%, 0.8);
    --text-normal-hover: #FFF;
    --text-med: hsl(0, 0%, 60%);
    --url: hsla(200, 20%, 60%, .8);
    --text-dark: hsl(0, 0%, 45%);
    --text-dark-hover: var(--text-normal);
  }

  /* General tags {{{1 */

  body[class] {
    background-color: var(--gray-0) !important;
    overflow: visible !important;
    padding: 0 !important;
  }

  body[class], .md {
    color: var(--text-normal) !important;
  }

  body[class] a,
  body[class] a[class],
  body[class] a[class]:visited {
    color: var(--url);
  }

  body[class] a:hover {
    color: var(--text-normal-hover) !important;
  }

  body[class] blockquote {
    color: var(--text-med) !important;
  }

  body[class] pre,
  body[class] code {
    background: var(--gray-2) !important;
    border: none !important;
  }

  body[class] textarea,
  body[class] input {
    color: var(--text-normal);
    background: var(--gray-0);
    border: 1px solid var(--gray-1) !important;
    border-radius: 2px !important;
  }

  /* Upvote/downvote {{{1 */

  .midcol .arrow:hover {
    opacity: 0.8 !important
  }

  .midcol .arrow.upmod {
    filter: brightness(0.6) contrast(350%) !important;
  }

  .midcol .arrow.downmod {
    filter: brightness(0.7) contrast(200%) hue-rotate(-35deg) !important;
  }

  .archived-infobar ~ div .midcol .arrow {
    visibility: hidden !important;
  }

  /* Header {{{1 */

  #header {
    background: var(--gray-1) !important;
    height: auto !important;
    position: relative !important;
    border-bottom: 2px solid var(--gray-0);
  }

  /* Subreddit header area {{{2 */
  #sr-header-area {
    align-items: center !important;
    background: var(--gray-2) !important;
    border: 0 !important;
    display: flex !important;
    font-size: 12px !important;
    height: 24px !important;
  }

  /* Subreddit links */
  #sr-header-area a,
  #sr-header-area .dropdown.srdrop .selected {
    color: var(--text-med) !important;
    font-size: 13px !important;
    text-decoration: none !important;
  }

  #sr-header-area .sr-list .flat-list.sr-bar:nth-of-type(2) {
    text-transform: none !important;
  }

  #sr-header-area a:hover,
  #sr-header-area .dropdown.srdrop .selected:hover {
    color: var(--text-dark-hover) !important;
  }

  /* Little dot separators */
  #sr-header-area .sr-bar .separator {
    color: var(--red) !important;
    margin: 0 4px !important;
  }

  /* "my subreddits" dropdown menu */
  #sr-header-area .drop-choices {
    background: var(--gray-0) !important;
    border: 1px solid var(--gray-2) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.9) !important;
    font-size: 12px !important;
    padding: 4px 0 !important;
  }

  #sr-header-area .drop-choices a:hover {
    background: var(--gray-2) !important
  }

  /* Hide Redesign prompt */
  #redesign-beta-optin-btn {
        display: none !important;
  }

  /* Hide "Edit" button at the end of subreddit headers */
  #sr-more-link {
    display: none !important;
  }

  /* Header bottom left {{{2 */

  #header-bottom-left {
    align-items: center !important;
    background: none !important;
    bottom: auto !important;
    display: flex !important;
    height: 56px !important;
    left: auto !important;
    padding: 0 !important;
    position: relative !important;
    right: auto !important;
    top: auto !important;
  }

  /* Logo {{{3 */

  #header-img {
    background-image: url(https://www.redditstatic.com/desktop2x/img/favicon/apple-icon-57x57.png) !important;
    background-position: center center !important;
    background-size: cover !important;
    bottom: auto !important;
    height: 36px !important;
    margin: 4px 16px !important;
    position: relative !important;
    width: 36px !important;
    padding: 36px 36px 0 0;
    box-sizing: border-box;
  }

  #header-img:hover {
    opacity: 0.8 !important;
  }

  /* Tabmenu {{{3 */

  #header-bottom-left .redditname {
    position: initial !important;
    margin-top: -3px;
  }

  #header-bottom-left .redditname a {
    color: var(--text-normal) !important;
    font-size: 24px !important;
    margin: 0 10px !important;
  }

  #header-bottom-left .tabmenu {
    margin: 0 !important;
  }

  #header-bottom-left .tabmenu li {
    font-weight: inherit !important;
    margin: 0 !important;
  }

  #header-bottom-left .tabmenu li a {
    background: none !important;
    color: var(--text-normal) !important;
    font-size: 18px !important;
    padding: 0 8px !important;
    text-transform: uppercase;
  }

  #header-bottom-left .tabmenu li a:hover {
    color: var(--text-normal-hover) !important;
  }

  #header-bottom-left .tabmenu li.selected a {
    border: none !important;
    color: var(--red) !important;
  }

  /* Header bottom right {{{2 */

  #header-bottom-right {
    align-items: center !important;
    background: none !important;
    display: flex !important;
    font-size: 14px !important;
    padding: 0 8px !important;
    top: 24px !important;
  }

  #header-bottom-right a {
    color: var(--text-normal) !important;
  }

  #header-bottom-right a:hover {
    color: var(--text-normal-hover) !important;
  }

  #header-bottom-right .user {
    color: var(--gray-1);
  }

  #header-bottom-right .userkarma {
    color: var(--text-dark);
  }

  #header-bottom-right .userkarma::before {
    content: "(";
    font-weight: normal;
  }

  #header-bottom-right .userkarma::after {
    content: ")";
    font-weight: normal;
  }

  /* }}}2 */

  /* Right sidebar {{{1 */

  /* ~ {{{2 */

  .side {
    background: var(--gray-1) !important;
    padding: 16px !important;
    margin: 0 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .side .md {
    font-size: 13px;
  }

  /* Subreddit Name */
  .titlebox h1 a {
    color: var(--text-normal) !important;
  }

  /* Edit flair/mod */
  .titlebox form.toggle,
  .leavemoderator {
    align-items: center !important;
    background: none !important;
    display: flex !important;
    color: var(--text-normal) !important;
  }

  /* Link Info ("this post was submitted...") {{{2 */

  .linkinfo {
    background: var(--gray-2) !important;
    border-color: var(--gray-3) !important;
    color: var(--text-normal) !important;
  }

  .linkinfo #shortlink-text {
    color: var(--text-med);
    background: var(--gray-1)
  }

  /* Search Input {{{2 */
  #search input[type="text"] {
    background: var(--gray-0) !important;
    border: 1px solid var(--gray-1) !important;
    border-radius: 2px !important;
    color: var(--text-normal) !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
  }

  /* Search Expanded Note */
  #searchexpando {
    background: var(--gray-2) !important;
    border: 1px solid var(--gray-1) !important;
    color: var(--text-normal) !important;
    padding: 8px 16px !important;
  }

  #searchexpando label {
    align-items: center !important;
    display: flex !important;
    margin: 8px 0 !important;
  }

  #searchexpando input {
    margin: 0 8px 0 0 !important;
  }

  /* "Submit a new..." et al. buttons {{{2 */
  .morelink {
    background: var(--gray-2) !important;
    border: 0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    justify-content: center !important;
    height: auto !important;
    line-height: normal !important;
    padding: 8px 16px !important;
    text-transform: uppercase !important;
  }

  .morelink:hover {
    background: var(--gray-3) !important;
  }

  .morelink a {
    color: var(--text-med) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  /* Hide weird arrows which are next to "submit a new..." buttons */
  .morelink .nub {
    display: none !important
  }

  /* Hide front page's "create note" */
  .sidebox .spacer {
    visibility: hidden !important;
  }

  /* "Message the mods" */
  .sidecontentbox .message-button a.c-btn-primary {
    background-color: var(--gray-2) !important;
    border-bottom: none !important;
  }

  /* Tools */
  .sidecontentbox.collapsible a {
    background: none;
  }

  .sidecontentbox .collapse-button {
    background: var(--gray-3) !important;
    color: var(--text-normal);
  }

  /* User page {{{2 */

  .sidecontentbox.trophy-area .content {
    background-color: transparent;
  }

  .trophy-name {
    color: var(--text-normal) !important;
  }

  .server-seconds {
    background-color: transparent;
  }

  .server-seconds em {
    color: var(--text-normal);
  }

  /* }}}2 */

  /* Links {{{1 */

  /* ~ {{{2 */

  .link {
    display: flex !important;
    margin: 0 !important;
    padding: 16px 0 !important;
  }

  .link .entry {
    width: 100% !important;
  }

  .link.last-clicked {
    border: none !important;
  }

  .link .rank {
    display: none;
  }

  /* Score {{{2 */

  .link .score {
    color: var(--text-normal) !important;
    font-size: 16px !important;
    padding: 8px 0 !important;
  }

  .link .midcol {
    flex: 0 0 56px !important;
    margin: 4px 8px !important;
  }

  /* Post Image {{{2 */

  .link .thumbnail {
    flex: 0 0 auto !important;
    height: 78px !important;
    margin: 0 16px 0 0 !important;
    width: 140px !important;
  }

  .link .thumbnail img {
    height: auto !important;
    width: inherit !important;
  }

  .link .thumbnail:not(.outbound) {
    background-color: var(--gray-2) !important;
    background-position: 0px -906px !important;
    opacity: 0.5 !important;
  }

  /* Post Title {{{2 */

  .link .title {
    color: var(--text-normal) !important;
    font-size: 18px !important;
  }

  .link p.title {
    padding: 0 0 8px 0 !important;
  }

  .link .title:hover {
    color: var(--text-normal-hover) !important;
  }

  .link a.title:visited {
    color: var(--text-dark) !important;
    opacity: 0.8 !important;
  }

  /* Tagline {{{2 */

  .tagline {
    align-items: center !important;
    color: var(--text-dark) !important;
    display: flex !important;
    font-size: 12px !important;
  }

  .tagline time,
  .tagline .author,
  .tagline .subreddit {
    margin: 0 6px !important;
    white-space: nowrap !important;
  }

  .tagline .author,
  .tagline .subreddit,
  .tagline .voteWeight {
    color: var(--text-normal) !important;
  }

  .tagline .subreddit-subscribe {
    display: none;
  }

  /* Link Action Menu {{{2 */

  .link .flat-list {
    font-size: 12px !important;
    padding: 0 !important
  }

  .entry .buttons li {
    display: inline-flex !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .entry .buttons li a {
    color: var(--text-dark) !important;
    font-size: 12px !important;
    padding: 4px 8px !important;
  }

  .entry .buttons li a:hover {
    color: var(--text-dark-hover) !important;
    text-decoration: none !important;
  }

  /* Domain {{{2 */

  .domain {
    font-size: 14px !important;
  }

  .domain a {
    color: var(--text-dark) !important;
  }

  /* Expand {{{2 */

  .expando-button {
    filter: grayscale(100%) invert(90%) !important;
    margin: 8px 8px 0 0 !important;
  }

  .expando-button:hover {
    filter: grayscale(100%) !important;
  }

  /* }}}2 */

  /* Post {{{1 */

  .md-container.md-container {
    background: var(--gray-1) !important;
    border-radius: 2px !important;
    padding: 16px !important;
  }

  .md-container.md-container h1,
  .md-container.md-container h1 strong {
    color: var(--text-normal) !important;
    font-size: 22px !important;
    font-weight: 300 !important;
  }

  .md-container.md-container h1:first-child {
    margin-top: 16px !important;
  }

  .link .usertext-body.md-container {
    background: none !important;
  }

  .link .usertext-body .md {
    background: none !important;
    border: 0 !important;
    padding: 0 !important;
  }

  /* YouTube */
  div.expando > iframe.media-embed {
    --mewidth: calc(40vw);
    width: var(--mewidth);
    height: calc(var(--mewidth) * 0.5625);
  } /* the rest is at the end of style */

  /* Flair edit {{{1 */

  .flairselector a.title {
    display: none;
  }

  .flairselector .flairoptionpane li {
    display: block !important;
  }

  .flairselector, #newlink-flair-dropdown {
    background-color: var(--gray-2);
    box-shadow: 2px 2px 2px var(--gray-0);
  }

  .flairselector > h2, #newlink-flair-dropdown > h2 {
    color: var(--text-normal);
    background: none;
  }

  #newlink-flair-dropdown li {
    border: none;
  }

  /* Comments {{{1 */

  .comment .score,
  .comment time {
    margin-left: 10px !important;
  }

  .comment .score {
    font-weight: bold;
  }

  .comment .userattrs .submitter {
    visibility: hidden;
  }

  .comment .userattrs .submitter:after {
    visibility: visible;
    margin-left: -7px;
    content: "OP";
  }

  .commentarea .menuarea {
    margin-top: 5px;
  }

  /* "sorted by" dropdown menu {{{1 */

  .dropdown-title.lightdrop,
  .dropdown-title.lightdrop ~ div > .selected {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .drop-choices.lightdrop.inuse > a {
    background-color: var(--gray-3);
    text-transform: uppercase;
    font-size: 13px;
    color: var(--text-normal) !important;
  }

  .drop-choices.lightdrop.inuse > a:hover {
    background-color: var(--gray-2);
  }

  /* Submit page {{{1 */

  .formtabs-content {
    border-top: 5px solid var(--gray-3);
  }

  .infobar {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-3);
  }

  .roundfield {
    background-color: var(--gray-1);
  }

  .content.submit .info-notice {
    border: 1px solid var(--red);
    background-color: var(--gray-0);
  }

  #newlink-with-image-upload .image-upload-drop-target {
    background-color: initial;
  }

  #new-link-preview {
    background-color: transparent !important;
    border: 1px solid;
  }

  .tabmenu.formtab a {
    border: none;
    font-size: 14px !important;
    padding-bottom: 5px !important;
    background: var(--gray-3);
    color: var(--text-normal) !important;
  }

  .tabmenu.formtab .selected a {
    font-size: 18px !important;
    background: var(--gray-1);
  }

  .roundfield .usertext-edit {
    width: 470px;
  }

  .roundfield textarea {
    width: 460px;
  }

  /* Next/Prev buttons {{{1 */

  .nav-buttons {
    margin-top: 1em;
  }

  .nextprev > .separator {
    border-left: 0;
  }

  .nextprev {
    color: transparent;
  }

  .nextprev a {
    padding: 0.3em;
    font-size: 1.5em;
    border-radius: 0;
    border: 1px solid var(--gray-3);
    text-transform: uppercase;
    color: var(--text-med) !important;
    background-color: var(--gray-2);
  }

  .nextprev a:hover {
    background-color: var(--gray-3);
  }

  /* Left sidebar (Listing Chooser) {{{1 */

  .listing-chooser {
    background-color: var(--gray-2) !important;
  }

  .listing-chooser.initialized,
  .listing-chooser * {
    transition: none !important;
  }

  .listing-chooser li {
    background-color: var(--gray-1) !important;
    border-color: var(--gray-3)
  }

  .listing-chooser li:hover {
    background-color: var(--gray-2) !important;
  }

  .listing-chooser li > a {
    color: var(--text-normal);
  }

  .listing-chooser li.selected {
    box-shadow: none !important;
    border-color: var(--gray-3)
  }

  .grippy {
    background: var(--gray-1) !important;
  }

  .grippy:hover {
    background: var(--gray-3) !important;
  }

  .grippy::after,
  .grippy::before {
    border: none !important;
    filter: grayscale(1) brightness(3);
    transition: none !important;
    position: initial !important;
  }

  .listing-chooser button {
    color: var(--text-normal);
  }

  .listing-chooser .intro {
    display: none;
  }

  /* Messages {{{1 */

  .message > .entry .head {
    color: var(--text-dark) !important;
  }

  .correspondent {
    background: transparent !important;
  }

  /* Wiki {{{1 */

  .wikiaction-current {
    background-color: var(--gray-2) !important;
    color: var(--text-normal) !important;
  }

  .wikiaction:hover {
    background-color: var(--gray-3) !important;
  }

  .wikirevisionlisting .revision {
    color: var(--text-normal) !important;
  }

  /* REDDIT GOLD {{{1 */

  .gold-accent {
    background-color: initial;
    border: solid 1px var(--gold-tuned);
    color: var(--gold-2);
  }

  .gold-accent h1,
  .gold-accent th,
  .preftable .details.reddit-gold,
  .gold-accent.comment-visits-box {
    color: var(--gold);
  }

  .server-seconds {
    background-color: initial;
  }

  .server-seconds em {
    color: var(--gray-4);
  }

  .gold-expiration-info .karma {
    color: var(--gold);
  }

  /* ~misc~ {{{1 */

  .fancy-toggle-button a {
    color: var(--gray-2) !important;
  }

  .hover-bubble,
  .hover-bubble.multi-selector label:hover,
  .hover-bubble.multi-selector .create-multi input[type="text"] {
    background: var(--gray-2);
  }

  .reddit-infobar {
    width: max-content;
    background: var(--gray-1);
    border-color: var(--gray-3)
  }

  .thing.spam {
    background: var(--dark-red);
  }

  .tutorial_post {
    display: none;
  }

  .link.promoted {
    display: none !important;
  }

  .premium-banner-outer {
    display: none !important;
  }

  /* }}}1 */

}

@-moz-document url-prefix("https://www.redditmedia.com/mediaembed/") {
  iframe {
    width: 100vw;
    height: 100vh;
  }
}
